border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  -o-border-radius n
  border-radius n
box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments
background-image(topColor, bottomColor)
    background-image -webkit-gradient(linear, left, top, left bottom, color-stop(0%, topColor), color-stop(100%, bottomColor))
    background-image -webkit-linear-gradient(top, topColor, bottomColor)
    background-image -moz-linear-gradient(top, topColor, bottomColor)
    background-image -ms-linear-gradient(top, topColor, bottomColor)
    background-image linear-gradient(top, topColor, bottomColor)
