div.viewpost
  margin 5px auto
  width 800px
  div.article
    padding-bottom 50px
  div.created_at
    color #c6c6c6
  div.row
    margin 5px 0
  span.label
    width 80px
    display inline-block
    vertical-align top
  input.commentAuthor
  textarea.commentText
    width 600px
    border 1px solid #666
