div.article.dencoder
  h1 URL Decoder/Encoder
  div.row
    textarea.contentText(name="body", rows=20, id="editArticleBody")
  div.row
    button.blue(id='decodeBtn') Decode
    button.blue(id='encodeBtn') Encode
  div.result
script(type="text/javascript")
  console.log('decoder/encoder loaded')
- scripts.push('/js/dencodeUtil.js')
