@import "mixins/mixins"
@import "pages/newpost"
@import "pages/viewpost"
@import "fonts/fonts"
@import "common/common"
@import "pages/dencode"
@import "pages/editpost"
body
  // For some reason, using Aller is really slow.. commented it out for now.
  //font-family Aller, "Arial"
  font-family 'Trebuchet MS', "Arial"
  font-size 13px
  color #555
  width 100%
  background url(/images/bg-blue.jpg) repeat
  margin 0
h1.header
  font-size 22px
  line-height 40px
  text-align center
  * 
    text-decoration none
    color #DF013A
#header
  width 100%
  text-align center
  //background #69c
  //-khtml-opacity 0.54
  //opacity 0.54
#footer
  width 100%
#wrapper
  //width 1100px
  margin 0 auto
  overflow hidden
.sidebar
  color #777F8C
  padding-top 20px
  width 10%
.left
  float left
.right
  float right
#body
  background url(/images/bg-tran.png) repeat
  padding 6px
  margin 0 auto
  width 75%
  position relative
