form.newpost input.titleText,
form.newpost input.tags,
form.newpost textarea {
  border: 1px solid #c6c6c6;
}
form.newpost div.actions {
  text-align: center;
}
div.viewpost div.article {
  padding-bottom: 50px;
}
div.viewpost div.created_at,
div.viewpost div.tags {
  color: #c6c6c6;
  padding-left: 10px;
  margin-bottom: 5px;
}
div.viewpost span.tag {
  background-color: #f8e0f7;
  margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 5px;
  color: #555;
}
div.viewpost div.row {
  margin: 5px 0;
}
div.viewpost span.label {
  width: 80px;
  display: inline-block;
  vertical-align: top;
}
div.viewpost .commentHeading {
  padding: 10px;
}
div.viewpost input.commentAuthor,
div.viewpost textarea.commentText {
  width: 600px;
  border: 1px solid #666;
}
div.viewpost pre.css,
div.viewpost pre.html,
div.viewpost pre.js {
  border: 1px solid #fc8;
  padding: 10px;
  overflow: auto;
}
div.viewpost iframe#content {
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0px;
}
@font-face {
  font-family: Aller;
  font-style: normal;
  src: url("/fonts/Aller/Aller_Rg.ttf");
}
.button {
  color: #606060;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #b7b7b7;
  background: #fff;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  *display: inline;
  margin-right: 5px;
  zoom: 1;
  text-decoration: none;
  text-align: center;
  vertical-align: baseline;
}
.article {
  position: relative;
  padding: 24px;
  background: #fff;
  border-bottom: 1px solid #e3e3e6;
  border-left: 2px solid #f6cef5;
}
.article .title {
  font-size: 20px;
  font-weight: bold;
  padding: 0px 10px;
}
.article a {
  text-decoration: none;
  color: #454545;
}
.article div.meta {
  font-size: 10px;
  position: absolute;
  left: -180px;
  top: 0px;
  text-align: right;
  padding-right: 4px;
  border-right: 2px solid #df013a;
  width: 170px;
  height: 15px;
}
.article .body {
  padding: 5px 10px;
}
.message {
  clear: both;
  overflow: hidden;
}
.message .person {
  float: left;
}
.message .comment {
  padding: 0 10px;
  color: #999;
  float: left;
}
.ib {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}
.dencoder textarea {
  width: 100%;
  height: 100px;
  border: 1px dashed #ccc;
}
.dencoder div.row {
  margin-bottom: 5px;
}
.editpost {
  position: relative;
}
.editpost .container {
  -webkit-box-shadow: inset 5px 0px 9px -2px #888;
  -moz-box-shadow: inset 5px 0px 9px -2px #888;
  box-shadow: inset 5px 0px 9px -2px #888;
  background-color: #fff;
  border-left: 2px solid #f6cef5;
  width: 49%;
  height: 100%;
  left: 50%;
  position: relative;
}
.editpost .container iframe {
  border: 0px;
  resize: none;
  outline: none;
  height: 90%;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.10);
  -moz-box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.10);
  box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.10);
  border: 1px solid #cce;
}
.editpost .code {
  position: absolute;
  left: 1%;
  width: 48%;
}
.editpost .code textarea {
  width: 100%;
  resize: vertical;
  min-height: 20px;
  max-height: 500px;
  height: 250px;
  font-size: 13px;
  -webkit-box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.10);
  -moz-box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.10);
  box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.10);
  border: 1px solid #cce;
}
.editpost form {
  padding: 10px 0 0 10px;
}
.editpost form .save {
  float: left;
  height: 60px;
  width: 60px;
  margin-right: 5px;
}
.editpost .row {
  padding: 3px 0px;
}
.editpost .row input.title {
  padding: 0;
  height: 25px;
  font-size: 20px;
}
.editpost .row input.tags {
  height: 15px;
}
.editpost .row input[type="text"] {
  color: #454545;
  width: 70%;
}
.editpost .row textarea {
  width: 80%;
  height: 80px;
  resize: vertical;
  max-height: 300px;
  float: right;
}
html,
body,
#wrapper,
#side,
#body {
  height: 100%;
}
body {
  background-image: -webkit-gradient(linear, left, top, left bottom, color-stop(0%, #fff), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(top, #fff, #ececec);
  background-image: -moz-linear-gradient(top, #fff, #ececec);
  background-image: -ms-linear-gradient(top, #fff, #ececec);
  background-image: linear-gradient(top, #fff, #ececec);
  font-family: "Trebuchet MS", "Arial";
  font-size: 13px;
  color: #555;
  margin: 0;
}
#side {
  -webkit-box-shadow: inset 0 0 8px 3px #888;
  -moz-box-shadow: inset 0 0 8px 3px #888;
  box-shadow: inset 0 0 8px 3px #888;
  padding-right: 20px;
  width: 200px;
  text-align: right;
  float: left;
}
#side h1.header {
  font-size: 22px;
  line-height: 40px;
}
#side a {
  text-decoration: none;
  color: #df013a;
}
#body {
  background: #fff;
  position: relative;
  overflow-x: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
button.blue {
  color: #1a3e66;
  cursor: pointer;
  padding: 3px 10px 4px;
  font: normal 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  border: 1px solid #a1afbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #fff;
  -moz-box-shadow: inset 0 0 1px 1px #fff;
  box-shadow: inset 0 0 1px 1px #fff;
  background-image: -webkit-gradient(linear, left, top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
  background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
}
button.blue:hover {
  border: 1px solid #a1afbf;
  background-image: -webkit-gradient(linear, left, top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
  background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
  background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
  background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
  background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
}
