form.newpost
  div.row
    margin 5px
  span.label
    display inline-block
    width 80px
    text-align right
    vertical-align top
    padding-top 3px
  input.titleText, input.tags
    width 600px
    border 1px solid #c6c6c6
    height 20px
  textarea.contentText
    width 600px
    border 1px solid #c6c6c6
    height 250px
  div.actions
    text-align center
