div.viewpost
  margin 5px auto
  width 800px
  div.article
    padding-bottom 50px
  div.created_at, div.tags
    color #c6c6c6
    padding-left 10px
    margin-bottom 5px
  span.tag
    background-color #F8E0F7
    margin-right 5px
    border-radius(3px)
    padding 2px 5px
    color #555
  div.row
    margin 5px 0
  span.label
    width 80px
    display inline-block
    vertical-align top
  .commentHeading
    padding 10px
  input.commentAuthor
  textarea.commentText
    width 600px
    border 1px solid #666
  pre.css, pre.html, pre.js
    border 1px solid #ffcc88
    padding 10px
    overflow auto
  iframe#content
    border 1px solid #ffcc88
    width 100%
    height 100%
