.article
  position relative
  //margin 15px 6px
  padding 24px
  //background white url(/images/post-body.png) repeat-x bottom
  background white
  border-bottom 1px solid #E3E3E6
  border-left 2px solid #F6CEF5
  box-shadow 0 1px 2px #bbb
  .title
      font-size 20px
      font-weight bold
      padding 0px 10px
    a
      text-decoration none
      color #454545
  div.meta
      font-size 10px
      position absolute
      left -180px
      top 0px
      text-align right
      padding-right 4px
      border-right 2px solid #DF013A
      width 170px
      height 15px
      //background #cde
      //opacity 0.5
  .body
      padding 5px 10px
.message
  .person
    float left
  .comment
    padding 0 10px
    color #999 
    float left
  clear both
  overflow hidden
