border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
.button
  color #606060
  border-radius(5px)
  border solid 1px #B7B7B7
  background white
  text-decoration none
  padding 5px

box-shadow(color)
  -webkit-box-shadow 0 1px 2px color
  -moz-box-shadow 0 1px 2px color
  box-shadow 0 1px 2px color
/*
button()
  display inline-block
  zoom 1
  vertical-align baseline
  margin 0 2px
  outline none
  cursor pointer
  text-align center
  text-decoration none
  font  14px/100% Arial, Helvetica, sans-serif
  padding .5em 2em .55em
  border-radius(.5em)
  box-shadow(rgba(0,0,0,.2))
*/
